.cityCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 0 20px;
}

.cityCard img {
    width: 50%;
}

.cityCard ul {
    margin-bottom: 50px;
}

