.wrapper {
    width: 600px;
    margin: 50px auto;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    border: 2px solid gray;
    border-radius: 10px;
    box-shadow: 2px 4px 4px 2px rgba(156, 154, 154, 0.6);
}

.title {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin: 20px 0;
}